.menu__header {
    width: 362px;
    height: 620px;
    background-color: var(--header-background_color);
    position: absolute;
    top: 60px;
    right: 30px;
    border-radius: 8px;
    color: var(--white-color);
}
